{%extends 'layout.html'%}
{% load static %}        
{% block content %}
    <div class="resources-table">
        <table class="items-table">
                 <tr>
                     <th>ID</th>
                     <th>Nombre</th>
                     <th>Unidades</th>
                 </tr>

                 <tr>
                     <td>01</td>
                     <td>Mantequilla</td>
                     <td>10</td>
                 </tr>
                 <tr>
                    <td>02</td>
                    <td>Chispas</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Vainilla</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>Crema</td>
                    <td>10</td>
                </tr>

        </table>
    </div>

{% endblock content %}